body {
	background-image: url(hand.jpg);
	background-position: right;
background-repeat: repeat;
padding: 15px;
background-size:70%;
background-position:center;
    padding: 300px;
    padding-top: 10px;
    font-size: x-large;
    color: rgb(2 2 2);
        font-family: cursive;
    background-color: rgb(34 235 255  58%);

}
form {
	    margin-left: 400px;
    width: 500px;
    border: 2px solid #ccc;
    padding: 30px;
    background: #28467da3;
    border-radius: 15px;
}

